@import "tailwindcss";

@theme {
  /* color pallet */
  --color-base: #f5f5f5;
  --color-base-font: #444444;
  --color-base-strong: #222222;
  --color-base-line: #777777;
  --color-main: #1e90ff;
  --color-main-strong: #00008b;
  --color-main-light: #87cefa;
  --color-attention: #ff8d1e;
  --color-attention-strong: #ff8d1e;
  --color-attention-light: #ff8d1e;

  /* others */
}
